In [2]:
import pandas as pd
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from matplotlib import pyplot as plt

In [3]:
url = 'https://raw.githubusercontent.com/GusttavoLopes/machine-learning/main/emprestimo.csv'
df = pd.read_csv(url, delimiter = ',')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   valor         14 non-null     object
 1   idade         14 non-null     object
 2   salario       14 non-null     object
 3   possui_conta  14 non-null     object
 4   empresta      14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

    valor   idade salario possui_conta empresta
0   Medio  Senior   Baixo          Sim      Nao
1   Medio  Senior   Baixo          Nao      Nao
2   Baixo  Senior   Baixo          Sim      Sim
3    Alto   Media   Baixo          Sim      Sim
4    Alto   Jovem    Alto          Sim      Sim
5    Alto   Jovem    Alto          Nao      Nao
6   Baixo   Jovem    Alto          Nao      Sim
7   Medio   Media   Baixo          Sim      Nao
8   Medio   Jovem    Alto          Sim      Sim
9    Alto   Media    Alto          Sim      Sim
10  Medio   Media    Alto          Nao      Sim
11  Baixo   Jovem   Baixo          Nao      Sim
12  Baixo  Senior    Alto          Sim      Sim
13   Alto   Media   Baixo          Nao      Nao

In [4]:
df['empresta'],class_names = pd.factorize(df['empresta'])
print(class_names)
print(df['empresta'].unique())

Index(['Nao', 'Sim'], dtype='object')
[0 1]

In [5]:
df['valor'],_ = pd.factorize(df['valor']) 
print(df['valor'].unique())

[0 1 2]

In [6]:
df['idade'],_ = pd.factorize(df['idade'])
print(df['idade'].unique())

[0 1 2]

In [7]:
df['salario'],_ = pd.factorize(df['salario'])
print(df['salario'].unique())

[0 1]

In [8]:
df['possui_conta'],_ = pd.factorize(df['possui_conta']) # Sim=0; Nao=1
print(df['possui_conta'].unique())

[0 1]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   valor         14 non-null     int64
 1   idade         14 non-null     int64
 2   salario       14 non-null     int64
 3   possui_conta  14 non-null     int64
 4   empresta      14 non-null     int64
dtypes: int64(5)
memory usage: 688.0 bytes

In [10]:
df.head()

   valor  idade  salario  possui_conta  empresta
0      0      0        0             0         0
1      0      0        0             1         0
2      1      0        0             0         1
3      2      1        0             0         1
4      2      2        1             0         1

In [11]:
df

    valor  idade  salario  possui_conta  empresta
0       0      0        0             0         0
1       0      0        0             1         0
2       1      0        0             0         1
3       2      1        0             0         1
4       2      2        1             0         1
5       2      2        1             1         0
6       1      2        1             1         1
7       0      1        0             0         0
8       0      2        1             0         1
9       2      1        1             0         1
10      0      1        1             1         1
11      1      2        0             1         1
12      1      0        1             0         1
13      2      1        0             1         0

In [ ]:
feature_cols = ['valor','idade','salario','possui_conta']
X_train = df[feature_cols]

In [ ]:
y_train = df.empresta

In [ ]:
X_train.columns
df.columns[4]

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy')

In [ ]:
clf = clf.fit(X_train,y_train)

In [ ]:
clf

In [ ]:
fig1 = plt.figure(figsize=(10,10))
_ = tree.plot_tree(clf, feature_names=X_train.columns,class_names=df.columns[4], filled=True)
fig1.savefig("fig1.png")

In [ ]:
feature_cols = ['valor','idade','salario','possui_conta']
X_train = df[feature_cols]

In [ ]:
y_train = df.empresta

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.3, random_state=1)

In [ ]:
X_train
X_test

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy')

In [ ]:
clf = clf.fit(X_train,y_train)

In [ ]:
clf

In [ ]:
fig2 = plt.figure(figsize=(10,10))
_ = tree.plot_tree(clf, feature_names=X_train.columns,class_names=df.columns[4], filled=True)
fig2.savefig("fig2.png")