In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
url = 'https://raw.githubusercontent.com/GusttavoLopes/machine-learning/main/casa.csv'

df = pd.read_csv(url, delimiter = ';', error_bad_lines = False)

/home/gustavo/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df

   Preco  PrecoLote  Quartos  Granito  Banheiros   Venda
0   3529       9191        6        0          0  205000
1   3247      10061        5        1          1  224900
2   4032      10150        5        0          1  197900
3   2397      14156        4        1          0  189900
4   2200       9600        4        0          1  195000
5   3536      19994        6        1          1  325000
6   2983       9365        5        0          1  230000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Preco      7 non-null      int64
 1   PrecoLote  7 non-null      int64
 2   Quartos    7 non-null      int64
 3   Granito    7 non-null      int64
 4   Banheiros  7 non-null      int64
 5   Venda      7 non-null      int64
dtypes: int64(6)
memory usage: 464.0 bytes